.App {
  text-align: center;
}

.Title {
  background-color: #203744; /*褐返 かちかえし*/
  color: white;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.AboutMe {
  background-color: white;
  color: black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  width: 80%;
  margin: auto;
}

.Skills {
  background-color: #203744;
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}

.Works {
  background-color: white;
  color: black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}

.Contact {
  white-space: pre;
  background-color: #203744;
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}

.IconContact {
  display: flex;
  flex-direction: row;
}

.IconSkills {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  font-size: calc(10px + 1vmin);
}

.ParagraphWrapper {
  color: #6b6b6b;
  font-weight: normal;
  font-size: calc(10px + 1vw);
  text-align: center;
  word-break: keep-all;
}

ul.ListSkills {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: calc(10px + 2vmin);
}

ul.ListSkills li {
  margin-bottom: 2vh;
}